<!DOCTYPE html>
<head>
    <title>Про нас</title>
    <link rel="stylesheet" href="about.css">
</head>

<div class="about-us-container">
    <h1>Про нас</h1>

    <div class="contact-section">
        <h2>Контакти</h2>
        <p>
            Консультації та оформлення замовлень здійснюються в телефонному режимі:
        </p>
        <ul class="working-hours">
            <li>Пн.-Пт.: з 9:00 до 18:00</li>
            <li>Сб, Нд.: Вихідний</li>
        </ul>
    </div>

    <div class="phone-section">
        <h2>Телефони:</h2>
        <ul class="phone-numbers">
            <li>068 099 3149</li>
            <li>068 555 3535</li>
        </ul>
    </div>

    <div class="email-section">
        <h2>Email:</h2>
        <p>
            <a href="mailto:zoo@zoo.com.ua">happytail@com.ua</a>
        </p>
    </div>
</div>
