@model IEnumerable<MySite.Models.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MySite.Areas.Identity.Data.User> SignInManager
@inject UserManager<MySite.Areas.Identity.Data.User> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery


<!DOCTYPE html>
<head>
    <title>Магазин товарів для тварин</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/product.css">

</head>

<body style="background-color:white">



    <!-- Баннер -->
    <section class="main-banner">
        <div class="banner-content">
            <h2>Час погодувати ваших <br /> пухнастих друзів!</h2>
            <p>*На всі корми діє знижка 20%! </p>
            <button>За покупками!</button>
        </div>
    </section>

    <!--категорії -->
    <section class="main_categories">
        <h2>Основні категорії</h2>
        <div class="categories-list">
            <div class="category-item">
                <img src="/imgs/cat.jpg" alt="Категорія:коти">
                <p>>Все для котиків</p>
            </div>
            <div class="category-item">
                <img src="/imgs/dog.png" alt="Категорія:собаки">
                <p>>Все для песиків</p>
            </div>
            <div class="category-item">
                <img src="/imgs/hamster.png" alt="Категорія:гризуни">
                <p>>Все для гризунів</p>
            </div>
            <div class="category-item">
                <img src="/imgs/parrot.png" alt="Категорія:птахи">
                <p>>Все для пернатих</p>
            </div>
        </div>
    </section>

    <!-- Акції -->

    <section class="product-offers">
        <h4>Акції та пропозиції <button>Всі акції та пропозиції ></button></h4>
        <div class="product-line">
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model.Where(p => p.DiscountPrecent > 0).Take(2))
                {
                    @Html.Partial("_ProductItem", product)
                }
            }
        </div>
    </section>

    <!-- Новинки -->
    <section class="product-offers">
        <h4>Новинки <button>Всі новинки ></button></h4>
        <div class="product-line">
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model.OrderByDescending(p => p.CreatedDate).Take(2))
                {
                    @Html.Partial("_ProductItem", product)
                }
            }
        </div>
    </section>


</body>
</html>
