<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин товаров для животных</title>
    <link rel="stylesheet" href="styles.css">
</head>


<body>
    <header>
        <div class="logo">
            <img src="imgs/Logo.png" alt="Логотип">
        </div>
        <nav>
            <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Я шукаю...">
            <button>Пошук</button>
        </div>
        <div class="user-options">
            <a href="#">Войти</a>
            <a href="#">Избранное</a>
            <a href="#">Корзина</a>
        </div>
    </header>

    <!-- Основной баннер -->
    <section class="main-banner">
        <div class="banner-content">
            <h2>Большие скидки на товары Samsung</h2>
            <p>От 33 399₴, получите зарядное устройство в подарок!</p>
            <button>Подробнее</button>
        </div>
        <div class="banner-image">
            <img src="samsung.png" alt="Samsung">
        </div>
    </section>

    <!-- Популярные категории -->
    <section class="popular-categories">
        <h2>Популярные категории</h2>
        <div class="categories-list">
            <div class="category-item">
                <img src="cat-food.png" alt="Корма для кошек">
                <p>Корма для кошек</p>
            </div>
            <div class="category-item">
                <img src="dog-food.png" alt="Корма для собак">
                <p>Корма для собак</p>
            </div>
            <div class="category-item">
                <img src="accessories.png" alt="Аксессуары">
                <p>Аксессуары</p>
            </div>
            <div class="category-item">
                <img src="toys.png" alt="Игрушки">
                <p>Игрушки</p>
            </div>
        </div>
    </section>

</body>
</html>
