@{
    ViewData["Title"] = "Обране";
}
<head>
    <link rel="stylesheet" href="~/css/sidebar.css">
    <link rel="stylesheet" href="~/css/wishlist.css">
</head>

<body>
    <div class="profile-container">
        @Html.Partial("_Sidebar")

        <div class="wishlist-container">
            <div class="header">
                <h1 class="centered-title">Список улюбленого</h1>
            </div>

            <div class="info-section">
                <div class="actions right-align">
                    <button class="btn-buy-all">Купити все</button>
                    <p class="item-count">Кількість товарів: 0</p>
                </div>
            </div>

            <p class="empty-list-message">Ваш список улюбленого порожній</p>
        </div>

    </div>
</body>
