@{
    ViewData["Title"] = "Обране";
}
<head>
    <link rel="stylesheet" href="~/css/wishlist.css">
</head>

<body>
    <div class="wishlist-container">
        <h1>Список улюбленого</h1>
        <button class="btn-back" href="~/Home">Назад</button>
        <p>Кількість товарів: 0</p>

        <div class="product-list">
            <p class="empty-list-message">Ваш список улюбленого порожній.</p>
        </div>
    </div>
</body>

