
/* Баннер */
.main-banner {
    background-image: url("/imgs/banner.png");
    background-size: cover;
    background-position: center;
    background-color: #E0F7FA;
    display: flex;
    justify-content: flex-end;
    padding: 40px 20px;
}

.banner-content {
    max-width: 70%;
    text-align: right;
}

    .banner-content h2 {
        font-family: Impact;
        font-size: 56px;
        color: white;
        text-align: right;
    }

    .banner-content p {
        font-size: 18px;
        color: whitesmoke;
        text-align: right;
    }

    .banner-content button {
        padding: 10px 20px;
        background-color: #FF9E03;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

/* Основні категорії */
.main_categories {
    padding: 20px;
    background-color: white;
    text-align: center;
}

    .main_categories h2 {
        font-size: 30px;
        font-weight: 800;
        color: #333;
        margin-bottom: 20px;
    }

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}

.category-item {
    flex: 1 1 200px;
    text-align: center;
    padding: 10px;
}

    .category-item img {
        width: 50%;
        max-width: 100px;
        height: auto;
    }

    .category-item:not(:last-child) {
        border-right: 1px solid #ccc;
        padding-right: 20px;
        margin-right: 20px;
    }

    .category-item p {
        font-size: 16px;
        margin-top: 10px;
    }

    .product-item:hover, .category-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

/* Пропозиції */


.product-offers button {
    font-size: 14px;
    padding: 8px 12px;
    background-color: white;
    color: black;
    border: solid;
    border-width: 2px;
    border-radius: 9px;
}

    .product-offers button:hover {
        background-color: #FF9E03;
        color: white;
    }
