
.container {
    width: 100%;
    max-width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, Arial, sans-serif;
    background-color: white;
    color: #333;
}

/* Верхушка */
header {
    color: white;
    background-color: #195f70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
    header a {
        color: #FFFFFF;
        text-decoration: none;
    }

        header a:hover {
            color: #FF9E03;
        }

    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        header nav ul li {
            margin-left: 20px;
        }



.logo img {
    height: 80px;
}
/* Пошук */
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Заставляем панель занимать доступное пространство */
    margin: 0 12px; /* Отступы слева и справа для визуального оформления */
}

    .search-bar form {
        display: flex;
        width: 100%;
    }

    .search-bar input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px;
        box-sizing: border-box;

    }

    .search-bar button {
        padding: 10px 20px;
        background-color: #149EF2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        white-space: nowrap;
    }

/* Опції */
.user-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.user-options img {
    height: 28px;
}

/* Низ */
footer {
    background-color: #195f70;
    color: white;
    padding: 20px;
}

    footer img {
        width: 15%;
        margin: 10px;
    }

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

    .footer-top p {
        margin: 10px 0;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

        .footer-top p img {
            margin-right: 10px;
        }


.product-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.product-item {
    flex: 0 0 250px;
    height: 370px; 
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .product-item img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }

.buy-button {
    width: 100%;
    padding: 10px;
    background-color: #149EF2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: auto;
    cursor: pointer;
    font-size: 14px;
}

    .buy-button:hover {
        background-color: seagreen;
    }

.product-title {
    font-size: 19px;
    margin-top: 10px;
    color: #333;
    height: 40px;
    overflow: hidden;
}



.product-price {
    font-size: 17px;
    color: black;
    text-align: left;
    margin-top: 5px;
}

    .product-price del {
        color: #888; 
    }

.product-availability {
    font-size: 17px;
    color: black;
    text-align: left;
    margin-top: 5px;
}

.product-discount {
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
    color: red;
}

/* Низ (посилання) */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

    .footer-column h4 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 900;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
    }

        .footer-column ul li {
            margin-bottom: 8px;
        }

            .footer-column ul li a {
                color: white;
                text-decoration: none;
            }

                .footer-column ul li a:hover {
                    text-decoration: underline;
                }
