
.container {
    width: 100%;
    max-width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, Arial, sans-serif;
    background-color: white;
    color: #333;
}

/* Верхушка */
header {
    color: white;
    background-color: #195f70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
    header a {
        color: #FFFFFF;
        text-decoration: none;
    }

        header a:hover {
            color: #FF9E03;
        }

    header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        header nav ul li {
            margin-left: 20px;
        }



.logo img {
    height: 80px;
}
/* Пошук */
.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 12px; 
}

    .search-bar form {
        display: flex;
        width: 100%;
    }

    .search-bar input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-right: 10px;
        box-sizing: border-box;

    }

    .search-bar button {
        padding: 10px 20px;
        background-color: #149EF2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        white-space: nowrap;
    }

/* Опції */


.user-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.user-options img {
    height: 28px;
}

/* Низ */
footer {
    background-color: #195f70;
    color: white;
    padding: 20px;
}

    footer img {
        width: 15%;
        margin: 10px;
    }

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

    .footer-top p {
        margin: 10px 0;
        font-size: 20px;
        display: flex;
        align-items: center;
    }

        .footer-top p img {
            margin-right: 10px;
        }




/* Низ (посилання) */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

    .footer-column h4 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 900;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
    }

        .footer-column ul li {
            margin-bottom: 8px;
        }

            .footer-column ul li a {
                color: white;
                text-decoration: none;
            }

                .footer-column ul li a:hover {
                    text-decoration: underline;
                }



.crud-btn {
    margin-right: 5px;
    color: #fff;
}

    .crud-btn.btn-warning {
        background-color: #ffc107;
    }

    .crud-btn.btn-info {
        background-color: #17a2b8;
    }

    .crud-btn.btn-danger {
        background-color: #dc3545;
    }